* {
  padding: ;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: darkslategray;

}

header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9a0d0da8;
  height: 100px;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
} 
header .logo img {
  width: 40px;
  height: 40px;
}


header nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 20px;
}
#intro {
  padding: 20px;

#intro2 {
  padding: 20px;
} 
}
