    * {
        font-family: "Work Sans", sans-serif;

    } 

    .inter {
        font-family: "Inter", sans-serif;
    }

    #hero {
        text-align: center;
        padding: 30px;
        background-color: #ffffff82;
    }

    #product .wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        border: 20px solid rgba(255, 255, 0, 0.372);
        padding: 10px;
    }
    #team {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }